body {
  background-color: rgb(0, 134, 171);
  background-image: url("../images/background1.jpg");
  background-size: cover;
}

#nameContainer {
  font-size: 40px;
  color: white;
  font-family: HP Simplified;
  margin: 0 auto;
  width: 300px;
  padding-top: 20px;
}

#nameContainer h1 {
  margin: 0px;
  margin-top: -20px;
}

#footer {
  background-color: rgb(127, 140, 149);
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  height: 50px;
  width: 1000px;
  margin-top: 5px;
  border-radius: 1em;
  color: white;
  font-family: HP Simplified;
  font-size: 24px;
}

#mainContainer {
  margin: 0 auto;
  font-family: calibri;
  background-color: rgb(0, 134, 171);
  color: white;
  width: 1200px;
  font-size: 30px;
}

#mainContainer label {
  width: 200px;
  display: inline-block;
}

#formContainer {
  float: left;
  background-color: rgb(0, 134, 171);
  color: white;
  height: 575px;
  width: 580px;
  padding-left: 20px;
}

#formContainer h2 {
  margin: 5px;
  margin-left: -10px;
}

#commentsContainer {
  float: left;
  background-color: rgb(0, 134, 171);
  color: white;
  height: 575px;
  width: 600px;
}

#commentsContainer h2 {
  margin: 5px;
  margin-left: 0px;
}

#commentAtributesContainer {
  overflow-y: scroll;
  height: 509px;
}

#formAtributesContainer {
  overflow-y: scroll;
  height: 509px;
}

#comments	{
  width: 280px;
  font-size: 20px;
}

.g-recaptcha {
  margin-left: 205px;
}

#formTable {
  color: white;
  font-family: calibri;
}

textarea {
  resize: none;
}

input[type=text] {
  width: 330px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-family: calibri;
  border: none;
}

input[type=email] {
  width: 330px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-family: calibri;
  border: none;
}

textarea[type=message] {
  width: 330px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-family: calibri;
  border: none;
}
